In [1]:
import pandas as pd

In [2]:
#sample data
data={
    'CustomerID':['C001','C002','C003','C004','C005','C006','C007','C008'],
    'Education_Level':['High School','Master','Bachelors','PhD','Bachelors','High School','Master','PhD'],
    'Product_Quality' :['low','high','medium','low','high','medium','low','high'],
    'Satisfaction_Level' :['poor','Excellent','Good','Average','poor','Excellent','Good','Average']
}
df=pd.DataFrame(data)
print(df)

  CustomerID Education_Level Product_Quality Satisfaction_Level
0       C001     High School             low               poor
1       C002          Master            high          Excellent
2       C003       Bachelors          medium               Good
3       C004             PhD             low            Average
4       C005       Bachelors            high               poor
5       C006     High School          medium          Excellent
6       C007          Master             low               Good
7       C008             PhD            high            Average

In [3]:
df

  CustomerID Education_Level Product_Quality Satisfaction_Level
0       C001     High School             low               poor
1       C002          Master            high          Excellent
2       C003       Bachelors          medium               Good
3       C004             PhD             low            Average
4       C005       Bachelors            high               poor
5       C006     High School          medium          Excellent
6       C007          Master             low               Good
7       C008             PhD            high            Average

In [20]:
#order
Education_order:['High School','Master','Bachelors','PhD']
Product_Quality_Order:['low','high','medium','low']
Satisfaction_Level_Order :['poor','Excellent','Good','Average']

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
encoder=OrdinalEncoder(categories=[Education_order,Product_Quality_Order,Satisfaction_Level_Order])

In [21]:
# Apply encoding(skip customerID as it is identifier)

df[['Education_Level','Product_Quality','Satisfaction_Level']]=encoder.fit_transform(df[['Education_Level','Product_Quality','Satisfaction_Level']])

ValueError: could not convert string to float: 'High School'

In [15]:
df

  CustomerID  Education_Level  Product_Quality  Satisfaction_Level
0       C001              0.0              0.0                 0.0
1       C002              2.0              2.0                 3.0
2       C003              1.0              1.0                 2.0
3       C004              3.0              0.0                 1.0
4       C005              1.0              2.0                 0.0
5       C006              0.0              1.0                 3.0
6       C007              2.0              0.0                 2.0
7       C008              3.0              2.0                 1.0