# pandas

In [2]:
#import pandas

import pandas as pd

In [4]:
print(pd.__version__)

2.2.2

In [4]:

a=[1,2,3,4,5,6,7]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [15]:
#DataFrame in pandas
import pandas as pd

data = {
      'name' :["shruti","aditi","ayesha","arya","kranti"],
       'age' :[19,20,15,21,17],
       'Score' :[78,80,76,90,88],
      'Duration' :[60,43,60,73,70]
    
    
}
df=pd.DataFrame(data)
print(df)

     name  age  Score  Duration
0  shruti   19     78        60
1   aditi   20     80        43
2  ayesha   15     76        60
3    arya   21     90        73
4  kranti   17     88        70

In [7]:
#locating data
df.loc[1]

NameError: name 'df' is not defined

In [17]:
#import dataset

ds = pd.read_csv("F_EditInf.csv")
print(ds)

  C:\Users\USER\AppData\Local\Programs\Microsoft VS Code\resources\app\node_modules.asar.unpacked\@vscode\vsce-sign\bin\vsce-sign.exe
0  C:\Program Files (x86)\Adobe\Acrobat Reader DC...
1  C:\Users\USER\AppData\Local\Programs\Microsoft...
2  C:\PROGRAM FILES (X86)\ADOBE\ACROBAT READER DC...

In [17]:
ds = pd.read_excel("CT-Questions.xlsx")
print(ds)

    Unnamed: 0 Unnamed: 1                                         Unnamed: 2  \
0          NaN        NaN                                                NaN
1          NaN        NaN                                                NaN
2          NaN        NaN                                                NaN
3          NaN        NaN                                                NaN
4          NaN        NaN                                                NaN
..         ...        ...                                                ...
68         NaN        NaN  a) Amount of oxygen        b) Amount of hydrog...
69         NaN         29  The dominant second tropic level in a lake eco...
70         NaN        NaN  a) Phytoplankton             b) Zooplankton   ...
71         NaN         30        What is the main source of vehicular noise?
72         NaN        NaN   a) High speed                     b) Movement...

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0         NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN
..        ...        ...        ...        ...
68        NaN        NaN        NaN        NaN
69          1        NaN          1          B
70        NaN        NaN        NaN        NaN
71          1        NaN          1          B
72        NaN        NaN        NaN        NaN

[73 rows x 7 columns]

In [20]:
#Anlyes dataset

#Acess top datavalues 

print(df.head())

     name  age  Score  Duration
0  shruti   19     78        60
1   aditi   20     80        43
2  ayesha   15     76        60
3    arya   21     90        73
4  kranti   17     88        70

In [19]:
print(df.head(3))

     name  age  Score  Duration
0  shruti   19     78        60
1   aditi   20     80        43
2  ayesha   15     76        60

In [18]:
#desribe dataset
print(df.describe())

             age      Score   Duration
count   5.000000   5.000000   5.000000
mean   18.400000  82.400000  61.200000
std     2.408319   6.228965  11.734564
min    15.000000  76.000000  43.000000
25%    17.000000  78.000000  60.000000
50%    19.000000  80.000000  60.000000
75%    20.000000  88.000000  70.000000
max    21.000000  90.000000  73.000000

In [21]:
#returing unique values

df["Duration"].unique()

array([60, 43, 73, 70], dtype=int64)

In [22]:
df["age"].unique

<bound method Series.unique of 0    19
1    20
2    15
3    21
4    17
Name: age, dtype: int64>

In [24]:
df["Score"].unique

<bound method Series.unique of 0    78
1    80
2    76
3    90
4    88
Name: Score, dtype: int64>